.top-bar {

  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
    padding-left: 0 !important; /* No padding-left for Logo */
  }

  .top-bar-right .menu-item {
      padding: 1.5rem 0;
  }

  .menu a {
    color: $medium-gray;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.9375rem;

    &:hover:not(.button) {
      color: $dark-green;
    }
  }

  .menu>li:not(.menu-text)>a {
    padding: 0 1.5rem;
  }

  .menu>li:not(.menu-text)>a:last-child {
    padding-right: 0;
  }

  .menu li:not(:last-child) {
    @include breakpoint(medium) {
//      border-right: 1px solid #4e4e4e;
    }
  }

  .dropdown.menu .submenu {
    background-color: $light-gray;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }

  .dropdown.menu .has-submenu.is-down-arrow>a::after {
//    border: 0;
  }

}

.vertical &.menu {
  padding: 1rem;
}

.title-bar {
  @include breakpoint(medium) {
    display: none;
  }

  .title a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}
